[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus.git
[submodule "third_party/speexdsp_src"]
	path = third_party/speexdsp_src
	url = https://github.com/xiph/speexdsp.git
